.terminal {
    width: 90%;
    max-width: 500px;
    background: #121212; 
    color: #33ff33;
    font: normal 16px 'Courier New', Courier, monospace;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

.terminal-header {
    background: black;
    padding: 10px;
    border-bottom: 2px solid #33ff33;
    text-align: center;
}

.terminal-title {
    font: normal 18px 'Courier New', Courier, monospace;
    color: #33ff33;
    position: relative;
    display: inline-block;
}

.terminal-title::after {
    content: '_';
    position: absolute;
    bottom: 0;
    left: 100%;
    color: #33ff33;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.terminal-body {
    padding: 15px;
}

.terminal-line {
    color: #33ff33;
    font: normal 16px 'Courier New', Courier, monospace;
    margin-bottom: 5px;
}

.terminal-response {
    color: #fff;
    font: normal 14px 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}